Repository dmitriiprusakov/amcharts-axis-manipulating: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --no-ignore --max-warnings=1000 --fix, stylelint --fix

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --no-ignore --max-warnings=1000 --fix",
    "git add"
  ],
  "*.css": [
    "prettier --write",
    "stylelint --fix",
    "git add"
  ],
  "*.{graphql,json}": ["prettier --write", "git add"]
}

Libs added.
  package.json
  yarn.lock
Due: prettier --write

Data generator.
  src/features/core/components/chart/index.module.css
  src/features/core/components/chart/index.tsx
  src/features/core/components/index.ts
  src/features/core/page/index.module.css
  src/features/core/page/index.tsx
  src/features/core/store/index.tsx
  src/features/core/types.ts
Due: prettier --write, eslint --no-ignore --max-warnings=1000 --fix, stylelint --fix

Charts rendered.
  src/features/core/components/chart/index.module.css
  src/features/core/components/chart/index.tsx
  src/features/core/components/chart/utils.ts
  src/features/core/hooks/use-store-data.ts
  src/features/core/store/index.tsx
Due: prettier --write, eslint --no-ignore --max-warnings=1000 --fix, stylelint --fix

+Gh pages lib.
  package.json
  yarn.lock
Due: prettier --write

+Reconfigured data.
  package.json
  src/features/core/store/index.tsx
  src/features/core/types.ts
Due: prettier --write, eslint --no-ignore --max-warnings=1000 --fix

+Chart scroll.
  src/features/core/components/chart/index.module.css
  src/features/core/components/chart/index.tsx
  src/features/core/components/chart/utils.ts
Due: prettier --write, eslint --no-ignore --max-warnings=1000 --fix, stylelint --fix

+Fixes.
  src/features/core/components/chart/utils.ts
Due: prettier --write, eslint --no-ignore --max-warnings=1000 --fix

+Layout stylization.
  src/features/core/components/chart/index.module.css
  src/features/core/components/chart/index.tsx
  src/features/core/page/index.module.css
  src/features/core/page/index.tsx
  src/features/core/store/index.tsx
  src/index.tsx
Due: prettier --write, eslint --no-ignore --max-warnings=1000 --fix, stylelint --fix

Animation optimization.
  src/features/core/page/index.module.css
  src/features/core/page/index.tsx
  src/features/core/store/index.tsx
Due: prettier --write, eslint --no-ignore --max-warnings=1000 --fix, stylelint --fix

Working....
  package.json
  src/features/core/page/index.module.css
  src/features/core/page/index.tsx
Due: prettier --write, eslint --no-ignore --max-warnings=1000 --fix, stylelint --fix

+Legend.
  src/features/core/components/index.ts
  src/features/core/components/legend/index.module.css
  src/features/core/components/legend/index.tsx
Due: prettier --write, eslint --no-ignore --max-warnings=1000 --fix, stylelint --fix

+Store reworking.
  src/features/core/components/chart/index.tsx
  src/features/core/store/index.tsx
  src/features/core/types.ts
Due: prettier --write, eslint --no-ignore --max-warnings=1000 --fix

+AxisItem.
  src/features/core/components/legend/components/axis-item/index.tsx
  src/features/core/components/legend/components/index.ts
Due: prettier --write, eslint --no-ignore --max-warnings=1000 --fix

+Axes sorting (ordering).
  src/features/core/components/chart/index.tsx
  src/features/core/components/legend/components/axis-item/index.module.css
  src/features/core/components/legend/components/axis-item/index.tsx
  src/features/core/components/legend/index.module.css
  src/features/core/components/legend/index.tsx
  src/features/core/page/index.module.css
  src/features/core/page/index.tsx
  src/features/core/store/index.tsx
  src/features/core/types.ts
Due: prettier --write, eslint --no-ignore --max-warnings=1000 --fix, stylelint --fix

+Refactoring and styling.
  src/features/core/components/legend/components/axis-item/index.module.css
  src/features/core/components/legend/components/axis-item/index.tsx
  src/features/core/components/legend/index.module.css
  src/features/core/components/legend/index.tsx
  src/features/core/page/index.tsx
Due: prettier --write, eslint --no-ignore --max-warnings=1000 --fix, stylelint --fix

+Draggable and droppable styling.
  src/features/core/components/legend/components/axis-item/index.module.css
  src/features/core/components/legend/components/axis-item/index.tsx
  src/features/core/components/legend/index.module.css
  src/features/core/components/legend/index.tsx
  src/features/core/page/index.module.css
Due: prettier --write, eslint --no-ignore --max-warnings=1000 --fix, stylelint --fix

+Shadow.
  src/features/core/components/legend/components/axis-item/index.module.css
Due: prettier --write, stylelint --fix

+Store reconfigured.
  src/features/core/components/legend/components/axis-item/index.module.css
  src/features/core/components/legend/index.module.css
  src/features/core/page/index.tsx
  src/features/core/store/index.tsx
  src/features/core/types.ts
Due: prettier --write, eslint --no-ignore --max-warnings=1000 --fix, stylelint --fix

+Tag item.
  src/features/core/components/legend/components/axis-item/index.tsx
  src/features/core/components/legend/components/index.ts
  src/features/core/components/legend/components/tag-item/index.module.css
  src/features/core/components/legend/components/tag-item/index.tsx
Due: prettier --write, eslint --no-ignore --max-warnings=1000 --fix, stylelint --fix

+Reconfiguring store+Tags sorting and grouping.
  src/features/core/components/chart/index.tsx
  src/features/core/components/legend/components/axis-item/index.tsx
  src/features/core/components/legend/components/tag-item/index.tsx
  src/features/core/components/legend/index.tsx
  src/features/core/store/index.tsx
  src/features/core/types.ts
Due: prettier --write, eslint --no-ignore --max-warnings=1000 --fix

+Visual improvements. +Restyling.
  src/features/core/components/legend/components/axis-item/index.module.css
  src/features/core/components/legend/components/axis-item/index.tsx
  src/features/core/components/legend/components/tag-item/index.module.css
  src/features/core/components/legend/components/tag-item/index.tsx
  src/features/core/components/legend/index.tsx
  src/features/core/store/index.tsx
Due: prettier --write, eslint --no-ignore --max-warnings=1000 --fix, stylelint --fix

+NewAxisCreator+transitions.
  src/features/core/components/legend/components/axis-item/index.module.css
  src/features/core/components/legend/components/new-axis-creator/index.module.css
  src/features/core/components/legend/components/new-axis-creator/index.tsx
  src/features/core/components/legend/components/tag-item/index.module.css
  src/features/core/components/legend/index.module.css
  src/features/core/components/legend/index.tsx
  src/features/core/page/index.module.css
Due: prettier --write, eslint --no-ignore --max-warnings=1000 --fix, stylelint --fix

+New axis creating logic.
  src/features/core/components/legend/components/axis-item/index.module.css
  src/features/core/components/legend/components/new-axis-creator/index.tsx
  src/features/core/components/legend/index.module.css
  src/features/core/components/legend/index.tsx
Due: prettier --write, eslint --no-ignore --max-warnings=1000 --fix, stylelint --fix

+Fixes for new axis.
  src/features/core/components/legend/components/new-axis-creator/index.module.css
  src/features/core/components/legend/components/new-axis-creator/index.tsx
  src/features/core/components/legend/index.tsx
Due: prettier --write, eslint --no-ignore --max-warnings=1000 --fix, stylelint --fix

Chart sync with axes grouping&sorting.
  src/features/core/components/chart/index.tsx
  src/features/core/components/chart/utils.ts
  src/features/core/store/index.tsx
  src/features/core/types.ts
Due: prettier --write, eslint --no-ignore --max-warnings=1000 --fix

Updates
  amcharts-axis-manipulating/locales/en/translation.json
  amcharts-axis-manipulating/locales/ru/translation.json
  asset-manifest.json
  precache-manifest.ee60bab69649a2f50d0104a27cac005f.js
  service-worker.js
Due: prettier --write

+Trying to deploy.
  config-overrides.js
  yarn.lock
Due: none

Updates
  asset-manifest.json
  index.html
  precache-manifest.a00dc2aa6feba0552cc69f75f7aa2595.js
  service-worker.js
  static/css/3.05c885f4.chunk.css
  static/css/3.05c885f4.chunk.css.map
  static/css/3.5eb97eb2.chunk.css.map
Due: prettier --write, stylelint --fix

+Deploy fixes.
  config-overrides.js
  package.json
Due: prettier --write

+Files regrouping.
  src/features/core/components/chart-layout/index.module.css
  src/features/core/components/chart-layout/index.tsx
  src/features/core/components/chart-layout/utils.ts
  src/features/core/components/header-layout/components/index.ts
  src/features/core/components/header-layout/components/settings-trigger/index.tsx
  src/features/core/components/header-layout/components/sidebar-trigger/index.tsx
  src/features/core/components/header-layout/index.module.css
  src/features/core/components/header-layout/index.tsx
  src/features/core/components/index.ts
  src/features/core/components/legend-layout/components/axis-item/index.module.css
  src/features/core/components/legend-layout/components/axis-item/index.tsx
  src/features/core/components/legend-layout/components/index.ts
  src/features/core/components/legend-layout/components/new-axis-creator/index.module.css
  src/features/core/components/legend-layout/components/new-axis-creator/index.tsx
  src/features/core/components/legend-layout/components/tag-item/index.module.css
  src/features/core/components/legend-layout/components/tag-item/index.tsx
  src/features/core/components/legend-layout/index.module.css
  src/features/core/components/legend-layout/index.tsx
  src/features/core/page/index.module.css
  src/features/core/page/index.tsx
Due: prettier --write, eslint --no-ignore --max-warnings=1000 --fix, stylelint --fix

+Settings. +Random tag names.
  package.json
  src/features/core/components/chart-layout/index.tsx
  src/features/core/components/header-layout/components/settings-trigger/index.tsx
  src/features/core/components/index.ts
  src/features/core/components/legend-layout/index.module.css
  src/features/core/components/settings/index.tsx
  src/features/core/page/index.tsx
  src/features/core/store/index.tsx
  src/features/core/store/utils.ts
  src/features/core/types.ts
  yarn.lock
Due: prettier --write, eslint --no-ignore --max-warnings=1000 --fix, stylelint --fix

+Fix.
  src/features/core/page/index.tsx
Due: prettier --write, eslint --no-ignore --max-warnings=1000 --fix

+Fixes.
  src/features/core/components/chart-layout/index.module.css
  src/features/core/components/chart-layout/index.tsx
  src/features/core/components/chart-layout/utils.ts
  src/features/core/store/index.tsx
Due: prettier --write, eslint --no-ignore --max-warnings=1000 --fix, stylelint --fix

+Fixed colorset.
  src/features/core/components/chart-layout/index.tsx
  src/features/core/components/chart-layout/utils.ts
  src/features/core/store/index.tsx
  src/features/core/types.ts
Due: prettier --write, eslint --no-ignore --max-warnings=1000 --fix

+Highlight on hover.
  src/features/core/components/chart-layout/index.tsx
  src/features/core/components/chart-layout/utils.ts
  src/features/core/components/legend-layout/components/tag-item/index.module.css
  src/features/core/components/legend-layout/components/tag-item/index.tsx
  src/features/core/hooks/use-hover.ts
  src/features/core/store/index.tsx
Due: prettier --write, eslint --no-ignore --max-warnings=1000 --fix, stylelint --fix
